body
{ font-family:Arial, Helvetica, sans-serif;
  margin:0px;
 font-size:50px;
 text-align: center;


 margin-top: 30px;
}

.btn-group button {
  /*background-color: #04AA6D;  Green background */
  background-color:  #53778D;
  border: 3px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  margin-left: 230px;


}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
.header{
  width:1300px; height:100px; float:left; border-top:2px solid #0099da;
  border-bottom:2px solid #0099da; 
  /*background:#FFF;*/
  background="pic6.jpg";
}
.header-left{ 
  width:250px; float:left;
   padding-top:15px;}

.header-right{
 width:1050px;
  float:left;
   padding-top:10px;}



.form{ height:30px;
 padding:0px 10px; 
 float:left;
  border:1px solid #0099da;
   border-radius:2px;}

.header-right-bottom{ width:1050px;
 height:40px;
  float:left;}

.header-right-bottom ul{
  list-style:none;
   margin:0px;
    padding-left:100px}

.header-right-bottom ul li{
  list-style:none;
   font-family:arial;
    font-size:20px;
     padding:10px 0px 5px; 
  margin:5px 0px;
   float:left;
    font-weight:bold;
}
.header-right-bottom ul li a{ padding:5px 28px 10px; margin:2px 0px 5px; text-decoration:none; color:#000;}
.header-right-bottom ul li a:hover{ color:#0099dd;}
